{% extends 'calculators/base.html' %}

{% block title %}Home - Neonatal Calculator Care{% endblock %}

{% block content %}
<button class="calculator-button" onclick="window.location.href='{% url 'bilirubin_calculator' %}'">
    Calculadora de Bilirrubina
</button>

<button class="calculator-button" onclick="window.location.href='{% url 'medications_calculator' %}'">
    Calculadora de Medicamentos
</button>

<button class="calculator-button" onclick="window.location.href='{% url 'fluid_balance_calculator' %}'">
    Balanço Hídrico
</button>
{% endblock %}
